aside.sidebar
	.sidebar__wrap
		-var filter=['Флагманы','Бюджетная линейка']
		+link-list('sidebar', filter, 1)
	.sidebar__wrap
			-var accordionNames=['Наличие в магазинах','Бренды', 'Цена', 'Цвет', 'Операционные системы']
			ul.sidebar__list
				each item, index in accordionNames
					li.sidebar__item
						a.sidebar__name(href="#")= item
						.sidebar__content
							ul.accordion__list.clearfix
								if index==0
									-var labelNames=['Во всех магазинах','В ближайшем магазине']
									each item, index in labelNames
										li.accordion__item
											input.accordion__field.accordion__field_radio(type="radio", name="availability", id="radio#{index}")
											label.accordion__label(for="radio#{index}")= item
								if index==1
									-var labelNames=['Lenovo','Apple', 'Samsung', 'Asus', 'Motorola']
									each item, index in labelNames
										li.accordion__item
											input.accordion__field.accordion__field_check(type="checkbox", name="brands", id="check#{index}")
											label.accordion__label(for="check#{index}")= item
									a.accordion__reset(href="#") Сбросить фильтр
								if index==2
									li.accordion__item_lower-price
										label.accordion__label(for="lowerPrice") от
										input.accordion__price(type="text", id="lowerPrice", value="0")
									li.accordion__item_upper-price
										label.accordion__label(for="upperPrice") до
										input.accordion__price(type="text", id="upperPrice", value="30000")
									.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
										.ui-slider-range.ui-widget-header.ui-corner-all#slider
										span.ui-slider-handle.ui-state-default.ui-corner-all
										span.ui-slider-handle.ui-state-default.ui-corner-all
								if index==3
									-for(var i=0; i<12; i++)
										li(class="accordion__color " + "accordion__color_item#{i}")
											a(href="#" class="accordion__color-link " + "accordion__color-link_item#{i}")
								if index==4
									-var labelNames=['Android','iOS', 'Windows-mobile', 'Symbian', 'Custom']
									each item, index in labelNames
										li.accordion__item
											input.accordion__field.accordion__field_check(type="checkbox", name="os", id="os#{index}")
											label.accordion__label(for="os#{index}")= item
									a.accordion__reset(href="#") Сбросить фильтр




